# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic / IDE / OS
node_modules
dist
dist-ssr
*.local
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

# Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local
